h1{
background-color: pink;
text-align: center;
}
p{
    color:blue;
    transition: all;
}
.index{
    color:red;
    text-align: justify; 
}

.static{
    position: static;
    border: 5px solid orange;  
}
.relative{
    position: relative;
    border: 5px solid yellow;
    left:20px;  
}
.fixed{
    position: fixed;
    border: 3px solid green;
    bottom:0;
    left: 0;
    width:100%;
    background-color: rgb(255, 0, 157);
    text-align: center;
    color: black;
}

.relatives{
    left:40%;
    position: relative;
    border: 3px solid indianred;
    height:200px;
    width:200px;
}
.absoulte{
 position: absolute;
 left:40%;   
 bottom:40px;
 border: 3px solid brown;
 right: 0;
}
.sticky{
    position:sticky;
    color:blueviolet;
    top:0;
    background-color:powderblue;

}